<div class="container" class="center">
  <div class="card">
    <h1>Stupid Coaching</h1>
    <p id="question"><%= @question %></p>
    <p id="answer"><%= @answer %></p>
  </div>
  <div>
  <%= link_to '/ask' do %>
    <button>Ask a new question</button>
  <% end %>
  </div>
<div>

